body {
	overflow: hidden;
}

h1 {
	color: #C3DBDA;
	font-family: 'Verdana', sans-serif;
	padding: auto;
	text-align: center;
}

a {
	font-family: 'Verdana', sans-serif;
	color: #C3DBDA;
}

#btn {
	display: block;
    margin: 0 auto;
    border: 0;
    margin-top: 25px;
    width: 25%;
}

#deets {
	margin-left: 10%;
}

#deets ul {
	list-style: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.8;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    margin-top: 25px;
    padding-bottom: 30px;
}

img {
	display: block;
	margin: 0 auto;
	padding-top: 5%;
	width: 75%;
}

.jumbotron p{
	color: white;
}

p {
	width: 75%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#msg {
	color: white;
	margin-top: 10px;
	margin-left: 30%;
	margin-right: auto;
}